section.info-card{
    width: 60%;
    background-color: #151414;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}
section.info-card img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 0.1rem black solid;
}
section.info-card div.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
section.info-card div.card-section{
    width: 100%;
}
section.info-card div.card-section div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

section.info-card h1{
    font-size: 1.5rem;
}
section.info-card h2{
    font-size: 1.1rem;
}
section.info-card p{
    font-size: 1rem;
}

@media screen and (max-width:600px) {
    section.info-card{
        width: 100%;
    }
}